/* Основные стили */

.header {
	display: block;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 50;
}

// .header:before{
// 	content: '';
// 	position: absolute;
// 	top: 0;
// 	left: 0;
// 	width: 100%;
// 	height: 100%;
// 	z-index: 2;
// }

.header__body {
	position: relative;
	display: flex;
	justify-content: space-between;
	height: 148px;
	align-items: center;
}
.header__logo {
    display: flex;
    align-items: center;
	// flex: 0 0 60px;
	border-radius: 50%;
	// overflow: hidden;
	position: relative;
	z-index: 3;
    // margin-left: 44px;
    margin-left: 2.75vw;
}
.header__logo__text{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 31px;
    color: $BaseColor;
    text-transform: uppercase;
    padding-left: 5px;
}
.header__logo img{
	max-width: 100%;
	display: block;
}

.header__burger {
	display: none;
}
// .header__menu {}


.header__list {
	display: flex;
	position: relative;
	z-index: 2;
}
.list__box{
	list-style: none;
	margin: 13px 0px 0px 60px;
    
}
.header__link {
    font-family: $fontFamilyBase;
	color: $BaseColor;
	// text-transform: uppercase;
    font-weight: 500;
	font-size: 14px;
    line-height: 18px;
	text-decoration: none;
    transition: all .3s;
    
}

.header__link:hover{
    background: linear-gradient(2.79deg, #F35F2F -13.68%, rgba(243, 95, 47, 0.75) 121.16%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    
}
.header__menu{
    display: flex;
	// margin: 0px 0px 0 14vw;
}
.header__button{
    display: flex;
    align-items: center;
    padding: 0 0 0 23px;
    color: $WhiteColor;
    background: linear-gradient(2.79deg, #F35F2F -13.68%, rgba(243, 95, 47, 0.75) 121.16%);
    opacity: 0.85;
    border-radius: 5px;
    width: 118px;
    height: 42px;
    // margin: 4px 43px 0 250px;
    margin: 4px 43px 0 15vw;
}


// @media (max-width:767px)
@media (max-width:$width1024){
	body.lock{
		overflow: hidden;
	}
	.header__body {
		height: 100px;
	}
	.header__logo {
		flex: 0 0 40px;
	}
	.header__burger {
		display: block;
		position: relative;
		width: 30px;
		height: 20px;
		position: relative;
		z-index: 3;
	}
	.header__burger span{
		position: absolute;
		background-color: $BaseColor;
		position: absolute;
		left: 0;
		width: 100%;
		height: 2px;
		top: 9px;
		transition: all 0.3s ease 0s;
	}
	.header__burger:before,
	.header__burger:after{
		content: '';
		background-color: $BaseColor;
		position: absolute;
		width: 100%;
		height: 2px;
		left: 0;
		transition: all 0.3s ease 0s;
	}
	.header__burger:before{
		top: 0;
	}
	.header__burger:after{
		bottom: 0;
	}

	.header__burger.active span{
		transform: scale(0);
	}

	.header__burger.active:before{
		transform:rotate(45deg);
		top: 9px;
	}
	.header__burger.active:after{
		transform:rotate(-45deg);
		bottom: 9px;
	}

	.header__menu {
		position: fixed;
		top: -100%;
		left: 0;
		width: 100%;
		height: 100%;
		overflow: auto;
		transition: all 0.3s ease 0s;
		background-color: #18b5a4;
		padding: 70px 10px 20px 10px;
	}

	.header__menu.active{
		top: 0;
	}

	.header__list {
		display: block;
	}
	.list__box{
		margin: 0px 0px 20px 0px;
	}
	.header__link {
		font-size: 24px;
	}
}

















